<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script defer src="live.js"></script>
    <title>Home Page : Book-it..!!</title>
</head>
<body>
    <nav class="navigation nav-small">
        <div class="main-navigation">
            <span class="page-title">Vishal's Book-it..!!</span>
            <div class="menu">
                <ul>
                    <li><a href='https://vishalw-book-it.herokuapp.com'>Home</a></li>
                    <li><a href='https://vishalw-book-it.herokuapp.com/book'>Book-it</a></li>
                    <li><a href="https://vishalw-book-it.herokuapp.com/about">About</a></li>
                </ul>
            </div>
            <form class="logout-button" action="/logout?_method=DELETE" method="POST">
                <button type="submit">LogOut</button>
            </form>
        </div>
        
        <div class="menu-lines">
            <span class="lining"></span>
            <span class="lining"></span>
            <span class="lining"></span>
        </div>
    </nav>
    <div class="home-body">
        <div style="margin: 20px;">
            <h1 style="text-align: center;">Abouts!</h1>
            <h4>We are book-it..!!</h4>
            <p style="font-size: 1rem;">
                This is Vishal Waghmare's about section of his Web Development project. Ok. Let's begin....!<br>
                We have the collection of brandnew cars all around the world. Because we care for you.
                You can find the cars launched across the world on our platform. We provide the best services.
                We the multi-national CAR company based out of Mumbai is here. Just go over the Book-it section. Book the car and Enjoy!! 
            </p>
        </div>
    </div>
    <footer>
        <div class="footer-contact footer-element-left">
            <div class="contact-element location">
                <span class="contact-icon"></span>
                <p>Vishal Waghmare<br>Gadgebaba chowk, Babupeth, Chadrapur-442401<br>Maharashtra</p>
            </div>
            <div class="contact-element phone">
                <span class="contact-icon"></span>
                <p>+91 7388725091</p>
            </div>
            <div class="contact-element emailid">
                <span class="contact-icon"></span>
                <p>vishalwghmre88@gmail.com</p>
            </div>
        </div>
        <div class="footer-abouts footer-element-right">
            <h2>About us:</h2>
            <p>We are Book-it! A multinational brand of cars which is dedicated to the customer service by providing the cars on rent.<br>Thank you!!</p>
            <div class="social-container">
                <span class="social-icon fb"></span>
                <span class="social-icon twitter"></span>
                <span class="social-icon linkedin"></span>
                <span class="social-icon github"></span>
            </div>
        </div>
    </footer>
</body>
</html>