<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="book.css">
    <script defer src="live.js"></script>
    <script defer src="book.js"></script>
    <title>Book Page : Book-it..!!</title>
</head>
<body>
    <nav class="navigation nav-small">
        <div class="main-navigation">
            <div class="menu">
                <ul>
                    <li><a href='https://vishalw-book-it.herokuapp.com/'>Home</a></li>
                    <li><a href='https://vishalw-book-it.herokuapp.com/book'>Book-it</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
            <form class="logout-button" action="/logout?_method=DELETE" method="POST">
                <button type="submit">LogOut</button>
            </form>
        </div>
        
        <div class="menu-lines">
            <span class="lining"></span>
            <span class="lining"></span>
            <span class="lining"></span>
        </div>
    </nav>
    <div class="home-body-book">
        <div class="vehicle-heading">CARS...</div>
        <div class="cars">
            <div class="car-box veh car1">
                <p class="car-heading veh-head">Car-1</p>
                <img src="https://etimg.etb2bimg.com/photo/73230517.cms">
                <div class="car-bottom">
                    <span class="car-price veh-price">Rs. 500000</span>
                    <button class="add-car add-it" type="button">Book it</button>
                </div>
            </div>
            <div class="car-box veh car2">
                <p class="car-heading veh-head">Car-2</p>
                <img src="https://specials-images.forbesimg.com/imageserve/5d3703e2f1176b00089761a6/960x0.jpg?cropX1=836&cropX2=5396&cropY1=799&cropY2=3364">
                <div class="car-bottom">
                    <span class="car-price veh-price">Rs. 600000</span>
                    <button class="add-car add-it" type="button">Book it</button>
                </div>
            </div>
            <div class="car-box veh car3">
                <p class="car-heading veh-head">Car-3</p>
                <img src="https://akm-img-a-in.tosshub.com/sites/btmt/images/stories/lamborghini_660_140220101539.jpg">
                <div class="car-bottom">
                    <span class="car-price veh-price">Rs. 400000</span>
                    <button class="add-car add-it" type="button">Book it</button>
                </div>
            </div>
            <div class="car-box veh car4">
                <p class="car-heading veh-head">Car-4</p>
                <img src="https://www.bugatti.com/fileadmin/_processed_/sei/p1/se-image-c4a9cdcf0a58353aa5323d397bde7f34.jpg">
                <div class="car-bottom">
                    <span class="car-price veh-price">Rs. 700000</span>
                    <button class="add-car add-it" type="button">Book it</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="vehicle-heading">BIKES...</div>
        <div class="bikes">
            <div class="bike-box veh bike1">
                <p class="bike-heading veh-head"> Bike 1</p>
                <img src="https://www.drivespark.com/images/2020-07/2020-bmw-s-1000-xr-30.jpg">
                <div class="bike-bottom">
                    <span class="bike-price veh-price">Rs. 600000</span>
                    <button class="add-bike add-it" type="button">Book it</button>
                </div>
            </div>
            <div class="bike-box veh bike2">
                <p class="bike-heading veh-head">Bike 2</p>
                <img src="https://i.pinimg.com/474x/a1/77/94/a17794c35f5424e14e73d811c91736ba.jpg">
                <div class="bike-bottom">
                    <span class="bike-price veh-price">Rs. 1000000</span>
                    <button class="add-bike add-it" type="button">Book it</button>
                </div>
            </div>
            <div class="bike-box veh bike3">
                <p class="bike-heading veh-head">Bike 3</p>
                <img src="https://cdn.zeebiz.com/sites/default/files/styles/zeebiz_850x478/public/2018/05/12/38013-vulcan-s.jpg?itok=VW_EtUH8">
                <div class="bike-bottom">
                    <span class="bike-price veh-price">Rs. 800000</span>
                    <button class="add-bike add-it" type="button">Book it</button>
                </div>
            </div>
            <div class="bike-box veh bike4">
                <p class="bike-heading veh-head">Bike 4</p>
                <img src="https://m.economictimes.com/thumb/msid-71939224,width-1200,height-900,resizemode-4,imgsize-482211/the-amb-001-by-aston-martin.jpg">
                <div class="bike-bottom">
                    <span class="bike-price veh-price">Rs. 500000</span>
                    <button class="add-bike add-it" type="button">Book it</button>
                </div>
            </div>
        </div>
        <div class="cart">
            <div class="vehicle-heading" style="text-align: center;">Your products</div>
            <div class="cart-container">
                <div class="cart-row cart-header">
                    <span class=" ele">Product</span>
                    <span class="ele" style="padding-left: 30px;">Price</span>
                    <span class="ele">Quantity</span>
                    <span class="ele"></span>
                </div>
                <!-- <div class="cart-row">
                    <span class="ele item">
                        <img src="https://etimg.etb2bimg.com/photo/73230517.cms">
                        Car-1
                    </span>
                    <span class="ele item-price">Rs. 500000</span>
                    <input type="number" class="ele item-quantity" value=1></input>
                    <button class="ele remove">Remove</button>
                </div>
                <div class="cart-row">
                    <span class="ele item">
                        <img src="https://etimg.etb2bimg.com/photo/73230517.cms"> 
                        Car-2
                    </span>
                    <span class="ele item-price">Rs. 400000</span>
                    <input type="number" class="ele item-quantity" value=1></input>
                    <button class="ele remove">Remove</button>
                </div> -->
            </div>
            <span style="font-weight: bolder; display: block; text-align: center;">Total</span>
            <div class="total">Rs. 50000000</div>
            <button class="purchase">Purchase</button>
        </div>
    </div>
    <footer>
        <div class="footer-contact footer-element-left">
            <div class="contact-element location">
                <span class="contact-icon"></span>
                <p>Vishal Waghmare<br>Gadgebaba chowk, Babupeth, Chadrapur-442401<br>Maharashtra</p>
            </div>
            <div class="contact-element phone">
                <span class="contact-icon"></span>
                <p>+91 7388725091</p>
            </div>
            <div class="contact-element emailid">
                <span class="contact-icon"></span>
                <p>vishalwghmre88@gmail.com</p>
            </div>
        </div>
        <div class="footer-abouts footer-element-right">
            <h2>About us:</h2>
            <p>We are Book-it! A multinational brand of cars which is dedicated to the customer service by providing the cars on rent.<br>Thank you!!</p>
            <div class="social-container">
                <span class="social-icon fb"></span>
                <span class="social-icon twitter"></span>
                <span class="social-icon linkedin"></span>
                <span class="social-icon github"></span>
            </div>
        </div>
    </footer>
</body>
</html>
<!-- <h1> Hi....!!</h1> -->
