<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script defer src="live.js"></script>
    <title>Home Page : Book-it..!!</title>
</head>
<body>
    <nav class="navigation nav-small">
        <div class="main-navigation">
            <div class="menu">
                <ul>
                    <li><a href='http://localhost:3000'>Home</a></li>
                    <li><a href='http://localhost:3000/book'>Book-it</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
            <form class="logout-button" action="/logout?_method=DELETE" method="POST">
                <button type="submit">LogOut</button>
            </form>
        </div>
        
        <div class="menu-lines">
            <span class="lining"></span>
            <span class="lining"></span>
            <span class="lining"></span>
        </div>
    </nav>
    <div class="home-body">
        <div class="slider">
            <span class="slider-element left-slider"><a><img src=""></a></span>
            <span class="slider-element right-slider"><a><img src=""></a></span>
        </div>
        <div class="home-body-content">
            <p class="home-message">
                Welcome to Book-it!! Make your purchase now.<br><br>
                Happy Journey!!
            </p>
            <div class="home-body-image">
                
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-contact footer-element-left">
            <div class="contact-element location">
                <span class="contact-icon"></span>
                <p>Vishal Waghmare<br>Gadgebaba chowk, Babupeth, Chadrapur-442401<br>Maharashtra</p>
            </div>
            <div class="contact-element phone">
                <span class="contact-icon"></span>
                <p>+91 7388725091</p>
            </div>
            <div class="contact-element emailid">
                <span class="contact-icon"></span>
                <p>vishalwghmre88@gmail.com</p>
            </div>
        </div>
        <div class="footer-abouts footer-element-right">
            <h2>About us:</h2>
            <p>We are Book-it! A multinational brand of cars which is dedicated to the customer service by providing the cars on rent.<br>Thank you!!</p>
            <div class="social-container">
                <span class="social-icon fb"></span>
                <span class="social-icon twitter"></span>
                <span class="social-icon linkedin"></span>
                <span class="social-icon github"></span>
            </div>
        </div>
    </footer>
</body>
</html>
<!-- <h1> Hi....!!</h1> -->
