<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Book it !! Register</title>
</head>
<body>
    <!-- <header>
    </header> -->
    <div class="main-body">
        <p class="side-pop"><a href="http://localhost:3000/login" style="color:white">Login</a></p>
        <div class="form-container form-container-register">
            <h2 class="welcome">Welcome to Book-it!!</h2>
            <form action="/register" method="POST">
                <div class="f-element">
                    <label for="name">Name</label>
                    <input class="input-ele" type="text" name="name">
                </div>
                <div class="f-element">
                    <label for="username">Username</label>
                    <input class="input-ele" type="text" name="username">
                </div>
                <div class="f-element">
                    <label for="email">Email</label>
                    <input class="input-ele" type="email" name="email">
                </div>
                <div class="f-element">
                    <label for="password">Password</label>
                    <input class="input-ele" type="password" name="password">
                </div> 
                <button class="login-button" type="submit">Register</button>
            </form>
        </div>
</body>
</html>