<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css"></link>
    <script src="live.js" defer></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merienda">

</head>
<body>
    <header><!--Header image-->
        <div class="navigation"><!--Navigation menu-->
            <ul >
                <li><a class="nav-link" href="index.html">Home</a></li>
                <li><a class="nav-link" href="sketch.html">Sketches</a></li>
                <li><a class="nav-link" href="paint.html">Paintings</a></li>
                <li><a class="nav-link" href="cart.html">Cart</a></li>
                <li><a class="nav-link" href="about.html">About Us</a></li>
            </ul>
        </div>
        <div class="menu">
            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3"></div>
        </div>
        <div class="fancy-msg"><!--Some fancy icon-->
            Welcome! to arts
        </div>
    </header>
    <div class="home-body">
        <div class="home-body-left"> <!--Background image-->
            <!-- <img class="back-img" src="https://wallpaperaccess.com/full/473027.jpg"> -->

            <div class="profile-image"><!--profile image-->
                <img style="width: 100%; height: 100%;" src="https://images-na.ssl-images-amazon.com/images/I/81syF0itjYL._SY450_.jpg">
            </div>
            <p class="message"><!--message-->
                Get your sketch done with us! Gift it! Make it a memory!!
            </p>
        </div>
        <div class="animated-paintings"><!--Animation paintings-->
            <div class="painting">
                <!-- <% items.paintings.forEach(function(item){ %> -->
                    <!-- <img src="<%= item.url %>">  -->
                <!-- <% }) %> -->
                <img src="<%= items.paintings[0].url %>"> 
            </div>
        </div>
    </div>

    <div class="decors"> <!--Decors-->
        <div class="box box-1"></div>
        <div class="box box-1"></div>
        <div class="box box-1"></div>
        <div class="box box-1"></div>
    </div>

    <footer class="footer">
        <p class="foot footer-message">
            A skectch which will tie a strong bond among all of us. Let's spread happiness. 
        </p>
        <div class="foot contact-info"><!--contact info-->
            Contact number : 7388725091  |   email-id : vishalwghmre88@gmail.com
        </div>
        <div class="foot logo"><!--logos-->
            logos
        </div>
    </footer>
</body>
</html>